<h1>Stupid Coaching</h1>
<div class="question">
  <p><%= @question.capitalize %></p>
  <p><em>— You</em></p>
</div>
<div class="answer">
  <p><%= @answer %></p>
  <p><em>— Your coach</em></p>
</div>

<%= link_to "Ask a new question", ask_path %>
