// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: 'Helvetica', sans-serif;
  font-weight: lighter;
  font-size: 16px;
  h1 {
    font-weight: normal;
  }
  p {
    display: block;
  }
}

.ask-question {
  width: 400px;
  height: 35px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.ask {
  background-color: #2E7AB2;
  color: white;
  font-size: 20px;
  padding: 3px 10px 8px 10px;
  margin-top: 10px;
  margin-left: -10px;
  height: 40px;
  border: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}


.answer, .question {
  margin: 40px 0px;
  border-left: 5px solid #ddd;
  padding: 5px 10px;
}

.answer {
  background-color: #FFFEE4;
}
